*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(227, 160, 243);
}
body ,html{
    height: 100%;
}
.clock{
    background-color:rgb(0, 0, 0) ;
    height: 200px;
    width: 500px;
    border-radius: 15px;
    border: 5px solid rgb(0, 255, 17);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.clock div{
    float: left;
    width:calc(100% /3);
    color: rgb(0, 255, 17);;
    text-align: center;
    font-size: 60px;
    margin-top: 15%;
}
h1{
    text-align: center;
    font-size: 100px;
    margin-top: 50px;
}